 <%= render  "shared/notice"%>
 <div class="container-fluid  w-10 bg-white p-5 ">
     <div class="container article d-flex flex-column">
         <div class="article-top w-100 d-flex flex-column justify-content-center align-items-center ">
             <div class="article-top-container w-100">
                 <div class="image w-100">
                     <%= image_tag(@article.image, class: "w-100") if @article.image.attached? %>
                 </div>
             </div>
         </div>
         <div class="article-title w-100 d-flex justify-content-between">
             <%= @article.title %>
             <div class="d-flex align-items-center">
                <%= vote_button(@article) %>
                <%= link_to  "Edit", edit_article_path , class: "btn btn-info" if logged? &&  user_admin?(@article.user.id) %>
             </div>
         </div>
            
         <div class="article-body w-100">
             <%= @article.body %>
         </div>
     </div>



     <div class="comments-container w-100 container my-3">
         <hr>
         <div class='article-comments-section mt-5 w-100'>

             <%= render 'comments/comment'%>

             <%= render 'comments/form' %>
         </div>
     </div>


 </div>